main {
  display: flex;
  justify-content: center;
  background-color: #fafafa;

  .mainContainer {
    width: 975px;
    display: flex;
    margin-top: 90px;
  }
}

img {
  width: 100%;
  height: 100%;
}
