.Main_MK {
  .main-content {
    background-color: #fafafa;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .feeds {
      margin: 0 210px;
      width: 935px;
      display: flex;
    }
  }
}
li {
  list-style: none;
}
