.Feeds {
  width: 614px;
  background-color: white;
  header {
    width: 99.6%;
    height: 60px;
    border: 1px solid #dbdbdb;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .profileImgBox {
      width: 42px;
      height: 42px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .profileImg {
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 70%;
        object-fit: cover;
      }
    }
    .headerInformation {
      width: 536px;
      height: 41px;
      display: flex;
      justify-content: space-between;
      margin-left: 8px;
      .namePlace {
        flex-direction: column;
        .font {
          font-size: 14px;
          color: #262626;
        }
        .subFont {
          font-size: 12px;
          color: #262626;
        }
      }
      .threeDotPlace {
        height: 24px;
        margin: auto 0;
        .threeDot {
          height: 24px;
        }
      }
    }
  }
  .article {
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    .post {
      width: 100%;
      max-height: 800px;
    }
    .articleIcon {
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
      .articleButton {
        width: 40px;
        height: 40px;
        border: 0;
        margin-left: -3px;
        background-color: white;
        .articleIconImg {
          width: 24px;
          height: 24px;
        }
      }
      .articleButton {
        width: 40px;
        height: 40px;
        border: 0;
        margin-left: -3px;
        background-color: white;
        .articleIconImg {
          width: 24px;
          height: 24px;
        }
      }
      .articleButton {
        width: 40px;
        height: 40px;
        border: 0;
        margin-left: -3px;
        background-color: white;
        .articleIconImg {
          width: 24px;
          height: 24px;
        }
      }
      .articleButton {
        width: 40px;
        height: 40px;
        border: 0;
        margin-left: -3px;
        background-color: white;
        .articleIconImg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .likeNumber {
      height: 18px;
      padding: 0 16px;
      margin-bottom: 8px;
      .font {
        font-size: 14px;
        color: #262626;
      }
    }
    .commentLog {
      width: 100%;
    }
    .flex {
      display: flex;
    }
    .commentBox {
      height: 56px;
      padding: 0 10px;
      border-top: 1px solid #dbdbdb;
      .comment {
        width: 99.8%;
        height: 100%;
        border: 0;
        padding: 0;
        outline-color: #dbdbdb;
        outline-width: 0px;
      }
      .flex {
        display: flex;
      }
      .upLoadComment {
        width: 26px;
        height: 100%;
        padding: 0px;
        align-items: center;
        border: 0;
        background-color: white;
        opacity: 0.4;
        color: #0095f6;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
