/* navigation bar */
.Nav_JY {
  position: fixed;
  display: flex;
  width: 100%;
  height: 54px;
  top: 0px;
  margin: 0;
  border-bottom: 0.5px solid lightgrey;
  background-color: white;
  z-index: 10;

  .navContent {
    display: flex;
    width: 975px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    background-color: white;

    .leftLogo {
      flex: 1;

      .textlogo {
        width: 103px;
      }
    }

    .middleSearch {
      display: flex;
      flex: 1;
      justify-content: center;

      input {
        position: relative;
        width: 215px;
        height: 28px;
        text-align: center;
        font-family: FontAwesome;
        font-style: normal;
        font-size: 13px;
        border: 0.2px solid rgb(220, 220, 220);
        outline: none;
        border-radius: 3px;
        background-color: #fafafa;
      }

      input:focus {
        padding-left: 10px;
        text-align: left;
      }
    }

    .rightMenu {
      flex: 1;

      .rightMenuBtn {
        display: flex;
        float: right;
        margin-left: 15px;

        a {
          width: 22px;
          height: 22px;
          margin-left: 22px;

          svg {
            width: 22px;
            height: 22px;
          }

          img {
            width: 22px;
            height: 22px;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
